<c-card class="mb-4">
<c-card-header>
  Terms of Use
</c-card-header>
<c-card-body>
  <p>
    By using this Web site ("MatesUp"), you agree to be bound by the following terms and conditions.
  </p>

  <div>
    <h3>Limitations of use</h3>
    MatesUp provides a chat service which allows its users to create chat rooms, send out invitations to people they know and communicate privately in these chat rooms. The following limitations apply:
  </div>
  <p>
    Invitations may only be sent to people who know the sender and only for the purpose of inviting these people for a chat.
    Free chat rooms may not be used for the purpose of promoting or selling goods or services without the prior written consent of MatesUp.
    We allow the use of MatesUp and paid Premium Rooms in media productions, such as television shows, radio broadcasts, live streams, etc., for some additional fee and without the need for any copyright or trademark release.
    We allow linking to specific chatrooms, provided that the link creator does not make incorrect or misleading statements regarding the chat service.
    MatesUp needs to ensure the continued, legal operation of our rooms. We block rooms which promote illegal contents (such as child pornography), and we reserve the right to appoint new Administrators in publicly active rooms, where no Administrator/Moderator has been present for a long time.
    Since MatesUp does not monitor the chatrooms, users enter the chatrooms solely at their own risk. MatesUp cannot be held responsible for any emotional or real consequences of using a chatroom. Any such issue must be dealt with between the implicated parties.
    Technical restrictions
    Any attempts to compromise MatesUp's implicit or explicit security measures are forbidden.
  </p>
  <p>
    User scripts designed specifically to modify the behavior of MatesUp are not permitted. Rooms or user accounts promoting such tools may be closed.
    Any hacking or phishing activity aimed at securing unrightful access to rooms or user accounts is forbidden (and a crime in most countries). MatesUp may help law enforcement or victims of such activity identify the perpetrator(s) by passing on information such as names, IP's and email addresses.
    Users are allowed to create accounts using regularly used email address(es) only. We do not allow temporary/disposable email addresses and we do, from time to time, close down user accounts based on such email domains (e.g. "throwawaymail.com" or "tempmailaddress.com").
    Privacy concerns
    We respect the privacy of our users to the fullest:
  </p>
  <p>
    Chat contents is considered confidential and will never be sold or given away to third parties for commercial purposes.
    Email addresses are used only once each time they are entered and only for the purpose of sending out email invitations for a chat.
    Chat rooms are considered private and are not monitored by moderators.
    For more information, please refer to our full Privacy Policy.
  </p>
  <div>
    <h3>Third-party services</h3>
    MatesUp provides features that rely on integration with third parties through standard API's. Usage of these features implies acceptance of third-party terms in the following cases:
  </div>
  <div>
    <ul>
      <li>
        If you sign in using your Facebook profile, you agree to be bound by
        <a href="https://www.facebook.com/terms.php" target="_blank">Facebook's Terms of Service</a>.
      </li>
      <li>
        If you sign in using your Google profile, you agree to be bound by
        <a href="https://policies.google.com/terms" target="_blank">Google Terms of Service</a>.
      </li>
      <li>
        If you sign in using your Microsoft profile, you agree to be bound by the
        <a href="https://www.microsoft.com/en/servicesagreement/" target="_blank">Microsoft Services Agreement</a>.
      </li>
      <li>
        If you sign in using your Twitter profile, you agree to be bound by
        <a href="https://twitter.com/en/tos" target="_blank">Twitter's User Agreement</a>.
      </li>
    </ul>
  </div>

  <h2>Disclaimer</h2>
  <p>
    All information and services found at MatesUp, are provided "as is", with no warranties whatsoever. MatesUp disclaims to the fullest extent permitted by law all express, implied and statutory warranties. This includes, but is not limited to, warranties regarding security, reliability, timeliness and performance of the system.
  </p>

  <p>
  These Terms may be updated, reviewed or amended from time to time for any reason and without notice, at the sole discretion of MatesUp. We reserve the right to modify these Terms of Use from time to time without notice.
  </p>
</c-card-body>
</c-card>
